@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "fuente-local";
  src: url("../../assets/fonts/bahnschrift.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #fffaff;
  font-family: 'Roboto', sans-serif;
  color: #1e1b18; }
  html a {
    text-decoration: none;
    color: #1e1b18; }
  html button {
    font-family: 'Roboto', sans-serif; }

.invisible {
  display: none !important; }

header {
  box-shadow: 10px 10px 20px #c2bec2;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%; }
  header .header__direccion {
    background-color: #0a2463;
    color: #fffaff;
    text-align: center;
    font-size: 0.8rem;
    padding: 1%; }
  header .header__div {
    background-color: #fffaff;
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 1000px;
    padding: 5% 2%; }
    header .header__div .logo {
      width: 30%;
      cursor: pointer; }
      header .header__div .logo img {
        width: 100%; }
    header .header__div .navbar {
      display: flex;
      justify-content: flex-end;
      width: 70%; }
      header .header__div .navbar a {
        margin-left: 5%;
        font-weight: 600; }

/* footer */
footer {
  height: 500px; }

.foot {
  background-color: #3a3838;
  height: 10vh; }
  .foot section {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .foot section section img {
      height: 80px; }
    .foot section div {
      display: flex; }
      .foot section div ul {
        display: flex;
        flex-direction: column; }
        .foot section div ul li {
          list-style: none; }
          .foot section div ul li a {
            text-decoration: none;
            color: white; }

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center; }

.catalogo {
  margin: 0 2% 5%;
  max-width: 1000px;
  display: flex;
  flex-direction: column; }
  .catalogo .catalogo__presentacion {
    margin: 2% 0%; }
  .catalogo .buscador {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .catalogo .buscador span {
      color: #0a2463; }
    .catalogo .buscador input::placeholder {
      color: #3e92cc;
      font-weight: 700; }
    .catalogo .buscador input[type="search"]::-webkit-search-decoration,
    .catalogo .buscador input[type="search"]::-webkit-search-cancel-button,
    .catalogo .buscador input[type="search"]::-webkit-search-results-button,
    .catalogo .buscador input[type="search"]::-webkit-search-results-decoration {
      display: none; }
    .catalogo .buscador #buscador {
      border: none;
      width: 75%;
      padding: 15px;
      background-color: #fffaff;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #c2bec2, -5px -5px 10px #fff;
      margin-right: 2%;
      min-width: 250px; }
    .catalogo .buscador .buscador__div {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 600;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background: linear-gradient(145deg, #429cda, #3883b8);
      box-shadow: 5px 5px 5px #c2bec2, -5px -5px 5px #fff;
      padding: 15px;
      height: 20px;
      width: 20px; }
      .catalogo .buscador .buscador__div span {
        color: #fff; }
  .catalogo .catalogo__div {
    margin: 2% 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .catalogo .catalogo__div .card {
      background-color: #fffaff;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #c2bec2, -5px -5px 10px #fff;
      margin: 3%;
      display: flex;
      flex-direction: column; }
      .catalogo .catalogo__div .card .card__img {
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        .catalogo .catalogo__div .card .card__img img {
          background-color: #fffaff;
          border-radius: 10px;
          box-shadow: 5px 5px 10px #c2bec2, -5px -5px 10px #fff;
          height: 90%;
          width: 90%;
          margin: 5% auto;
          overflow: hidden;
          object-fit: cover;
          border-radius: 15px; }
      .catalogo .catalogo__div .card .card__nombre {
        padding: 0% 6% 5%;
        display: flex;
        justify-content: space-between;
        align-items: baseline; }
        .catalogo .catalogo__div .card .card__nombre .oferta-txt, .catalogo .catalogo__div .card .card__nombre .precio {
          text-align: end; }
        .catalogo .catalogo__div .card .card__nombre .oferta-txt {
          font-weight: 700;
          color: #d8315b; }
        .catalogo .catalogo__div .card .card__nombre h3 {
          max-width: 65%;
          height: auto;
          overflow-wrap: break-word; }
      .catalogo .catalogo__div .card .descripcion {
        margin: 0% 6% 2%; }
      .catalogo .catalogo__div .card button {
        margin: 5% 5%;
        padding: 2%;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: linear-gradient(145deg, #429cda, #3883b8);
        box-shadow: 5px 5px 5px #c2bec2, -5px -5px 5px #fff;
        position: relative; }

.nosotros {
  margin: 0 2% 5%; }

@media (min-width: 576px) {
  header {
    margin-bottom: 5%; }
    header .header__div {
      padding: 5% 5%; }
  .catalogo {
    margin: 0 5% 5%; }
    .catalogo .buscador #buscador {
      width: 65%; }
    .catalogo .catalogo__div {
      grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 768px) {
  header {
    margin-bottom: 5%; }
    header .header__div {
      padding: 5% 10%; }
  .catalogo {
    margin: 0 10% 5%; }
    .catalogo .buscador #buscador {
      width: 60%; }
    .catalogo .catalogo__div {
      grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 992px) {
  header {
    margin-bottom: 3%; }
    header .header__div {
      padding: 3% 12%; }
  .catalogo {
    margin: 0 12% 5%; }
    .catalogo .buscador #buscador {
      width: 55%; }
    .catalogo .catalogo__div {
      grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  header {
    margin-bottom: 3%; }
    header .header__div {
      padding: 3% 15%; }
  .catalogo {
    margin: 0 15% 5%; }
    .catalogo .buscador #buscador {
      width: 50%; }
    .catalogo .catalogo__div {
      grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 1400px) {
  header {
    margin-bottom: 3%; }
    header .header__div {
      padding: 1% 15%; }
  .catalogo {
    margin: 0 15% 5%; }
    .catalogo .buscador #buscador {
      width: 50%; }
    .catalogo .catalogo__div {
      grid-template-columns: repeat(4, 1fr); } }
