
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// font-family: "fuente-local", sans-serif;
@font-face {
    font-family:"fuente-local";
    src: url("../../assets/fonts/bahnschrift.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html{
    background-color: $blanco;
    font-family: 'Roboto', sans-serif;
    color: $negro;
    
    a{
        text-decoration: none;
        color: $negro;
    }
    button{font-family: 'Roboto', sans-serif;}
}

// PARA ESCONDER LA INFORMACION QUE SE NECESITA, PERO NO SE VE
.invisible{
    display: none!important;
    
}