// footer
/* footer */
footer{height: 100px;}
.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .logo-footer {
        padding: 1rem 0;
        background-color: $azul;
        a {
            img {
                width: 100px;
            }
        }
    }
    .redes-footer {
        background-color: $blanco;
        padding: .6rem 0;
        a {
            margin: 0 .5rem;
            .img-insta {
                width: 18px;
            }
            .img-whats {
                width: 18px;
            }
        }
    }
}