header{
    @include shadow-bottom;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    .header__direccion{
        background-color: $azul;
        color: $blanco;
        text-align: center;
        font-size: 0.8rem;
        padding: 1%;
    }

    .header__div{
        background-color: $blanco;
        display: flex;
        align-items: center;
        align-self: center;
        max-width: 1000px;
        padding: 5% 2%;
        

        .logo{
            width: 30%;
            img{width: 100%;}
            cursor: pointer;
        }
        .navbar{
            display: flex;
            justify-content: flex-end;

            width: 70%;
            a{
                margin-left: 5%;
                font-weight: 600;
                &:hover{
                    color: $rosa;
                    transition: all ease-in-out 0.3s;
                }
            }
        }
    }
    
}