
// 576 PX
@media (min-width:576px){
    
    // HEADER
    header{
        margin-bottom: 5%;
        .header__div{
            padding: 5% 5%;
        }    
    }
    // HOME
    .catalogo{
        margin: 0 5% 5%;
        .buscador{
            #buscador{ width: 65%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(2,1fr);
            .card{
                p{font-size: 1rem;}
                .card__nombre{h3{font-size: 1.17rem;}}
        }
        }
    }
    // NOSOTROS
    .nosotros {
        div {
            h1, h2 {
                font-size: 2rem;
                margin: .8rem 0;
            }
            p {
                font-size: 1.2rem;
            }
            div {
                svg {
                    width: 20px;
                    margin: 0 .4rem 0 0;
                }
            }
        }
        .nosotros-info {
            p {
                margin: .4rem 0;
            }
        }
    }
}

// 768 PX
@media (min-width:768px){
    // HEADER
    header{
        margin-bottom: 5%;
        .header__div{
            padding: 5% 10%;
        }    
    }

    // HOME
    .catalogo{
        margin: 0 10% 5%;
        .buscador{
            #buscador{ width: 60%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(3,1fr);
        }
    }

    // FOOTER
    .foot {
       .logo-footer {
        padding: 1.2rem;
        a {
            img {
                width: 120px;
            }
        }
       }
       .redes-footer {
        padding: .6rem 0;
        a {
            margin: 0 .6rem;
            .img-face {
                width: 28px;
                margin: 0 0 3px 0;
            }
            .img-insta {
                width: 33px;
            }
        }
    }
    }
    // NOSOTROS
    .nosotros {
        margin: 2rem auto;
    }
}

// 992 PX
@media (min-width:992px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 3% 12%;
            max-width: 100%;
        }    
    }

    // HOME
    .catalogo{
        margin: 0 12% 5%;
        .buscador{
            #buscador{ width: 55%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(3,1fr);
        }
    }
    // NOSOTROS
    .nosotros {
        margin: 3rem auto;
        padding: 1.5rem;
        div {
            h1, h2 {
                font-size: 2.4rem;
            }
            p {
                font-size: 1.5rem;
            }
            div {
                svg {
                    width: 24px;
                    margin: 0 .8rem 0 0;
                }
            }
        }
    }
}

// 1200 PX
@media (min-width:1200px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 3% 15%;
            max-width: 80%;
        }    
    }

    // HOME
    .catalogo{
        
        margin: 0 15% 5%;
        .buscador{
            #buscador{ width: 50%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(4,1fr);
        }
    }

    // FOOTER
    .foot {
        .logo-footer {
         padding: 1.5rem;
         a {
             img {
                 width: 140px;
             }
         }
        }
        .redes-footer {
         padding: .8rem 0;
         a {
             margin: 0 .7rem;
             .img-face {
                 width: 30px;
                 margin: 0 0 3px 0;
             }
             .img-insta {
                 width: 35px;
             }
         }
     }
     }
}

// 1400 PX
 @media (min-width:1400px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 2% 15%;
            max-width: 70%;
        }
          
    }

    // HOME
    .catalogo{
        
        margin: 0 15% 5%;
        .buscador{
            #buscador{ width: 50%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(4,1fr);
        }
    }
 }