
// 576 PX
@media (min-width:576px){
    // HEADER
    header{
        margin-bottom: 5%;
        .header__div{
            padding: 5% 5%;
        }    
    }
    // HOME
    .catalogo{
        margin: 0 5% 5%;
        .buscador{
            #buscador{ width: 65%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// 768 PX
@media (min-width:768px){
    // HEADER
    header{
        margin-bottom: 5%;
        .header__div{
            padding: 5% 10%;
        }    
    }

    // HOME
    .catalogo{
        margin: 0 10% 5%;
        .buscador{
            #buscador{ width: 60%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

// 992 PX
@media (min-width:992px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 3% 12%;
        }    
    }

    // HOME
    .catalogo{
        margin: 0 12% 5%;
        .buscador{
            #buscador{ width: 55%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

// 1200 PX
@media (min-width:1200px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 3% 15%;
        }    
    }

    // HOME
    .catalogo{
        
        margin: 0 15% 5%;
        .buscador{
            #buscador{ width: 50%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(4,1fr);
        }
    }
}

// 1400 PX
 @media (min-width:1400px){
    // HEADER
    header{
        margin-bottom: 3%;
        .header__div{
            padding: 1% 15%;
            
        }    
    }

    // HOME
    .catalogo{
        
        margin: 0 15% 5%;
        .buscador{
            #buscador{ width: 50%;}
        }
        .catalogo__div{
            grid-template-columns: repeat(4,1fr);
        }
    }
 }