.catalogo{
    margin: 0 2% 5%;
    .catalogo__presentacion{
        margin: 2% 0%;
    }
    .buscador{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span{color: $azul;}
        #buscador{
            border: none;
            width: 50%;
            padding: 15px;
            @include neo-afuera-small;
            margin-right: 5%;
        }
    }
    
}