.nosotros{
    max-width: 868px;
    margin: 2rem 1rem;
    @include shadow-bottom;
    border-radius: 10px;
    padding: .5rem 1rem;
    div {
        h1, h2 {
            font-size: 1.6rem;
            font-weight: 700;
            margin: .5rem 0;
        }
        p {
            font-size: 1rem;
        }
        div {
            display: flex;
            align-items: center;
            svg {
                width: 1rem;
                margin: 0 .2rem 0 0;
            }
        }
    }
    .nosotros-info {
        p {
            margin: .2rem 0;
        }
    }
}
